.navbar-logo-left-container {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 100%;
}

.w-nav {
    z-index: 1000;
    background: #ffffff;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

.container.overflow-visible {
    overflow: visible;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-wrapper {
    display: flex;
}

.w-nav-menu {
    float: right;
    position: relative;
}

.w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}

.nav-menu-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
}

.w-list-unstyled {
    padding-left: 0;
    list-style: none;
}

.nav-link {
    color: var(--heading-color);
    letter-spacing: 0.25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    padding: 10px 5px;
    display: inline-block;
    border-radius: 10%;
    transition: 0.2s;
}

.nav-link:hover {
    background-color: #ddd;
}

.search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    font-family: Inter, sans-serif;
    display: flex;
    position: relative;
}

.search-form {
    z-index: 1;
    width: 320px;
    height: 40px;
    max-width: 320px;
    background-color: #f6f7f8;
    border-radius: 100px;
    margin-bottom: 0;
    position: relative;
}

.w-form {
    margin: 0 0 15px;
}

.search-input {
    z-index: 1;
    width: 100%;
    height: 40px;
    box-shadow: none;
    border-radius: 100px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 50px;
    position: relative;
}

.nav-right-content {
    display: flex;
}

.nav-right-link {
    color: #000;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    transition: 0.2s;
}

.nav-right-link:hover {
    background-color: #ddd;
    border-radius: 10%;
}

.nav-right-link.mr-45 {
    padding-left: 35px;
}

.nav-right-link.mr-45 {
    padding-left: 25px;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.section-title {
    color: var(--heading-color);
    text-transform: capitalize;
    margin-bottom: 40px;
}

.product-outer-wrap {
    box-sizing: border-box;
    display: flexbox;
    float: none;
    line-height: 20px;
    position: static;
    z-index: auto;
}

.product-thumbnail-wrap {
    background-color: #ddd;
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 303px;
    height: 303px;
}

.product-single-item {
    z-index: 0;
    border-radius: 10px;
    flex: none;
    position: relative;
    margin-right: 24px;
    max-width: 410.667px;
    display: inline-block;
}

.deal-image {
    border-radius: 10px;
    transition: 0.5s;
}

.deal-image:hover {
    transform: scale(1.2, 1.2);
}

.product-image {
    max-width: 303px;
    max-height: 303px;
}

.product-content {
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 20px;
    position: static;
    z-index: auto;
}

.product-title {
    z-index: 1;
    color: var(--heading-color);
    margin-top: 16px;
    margin-bottom: 12px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.product-title-wrap {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.product-price {
    font-size: 18px;
    font-weight: 700;
}

.text-span {
    font-size: 13px;
    position: relative;
    top: -5px;
}

.product-color {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16.5px;
}

.product-rating {
    align-items: center;
    display: flex;
}

.star-wrap {
    line-height: 14px;
}

.product-star {
    width: 14px;
    margin-right: 2px;
}

.total-rating {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
}

.btn-wrapper {
    justify-content: center;
    align-items: center;
    display: inline-block;
    transition: 0.5s;
}

.btn-wrapper:hover {
    transform: scale(1.1, 1.1);
}

.primary-button {
    padding: 12px 12px;
    border: 1px solid #000;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 36px;
    text-decoration: none;
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    font-size: Eina01, sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
    text-decoration: none;
}

.button-hover-bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transition: all 0.2s;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}

.primary-button:hover {
    background-color: #69db71;
}

.transparent-bg {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
}

.button-content {
    display: flex;
}

.button-color {
    color: var(--white);
    font-family: Eina01, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}

.primary-button.color-black {
    font-size: Eina01, sans-serif;
    font-size: 14px;
    line-height: 14px;
}

.color-black {
    color: #000;
}

.is-magnetic {
    margin-bottom: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.footer-top {
    border-top: 1px solid #000;
    padding-top: 50px;
    padding-bottom: 25px;
}

.center {
    justify-content: center;
    align-items: center;
}

.mb-40 {
    margin-bottom: 40px;
}

.footer-text {
    max-width: 20%;
}

.footer-description {
    font-size: 14px;
    word-wrap: initial;
}
